
body {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #242635;
}

.header__bar {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header__logo {
    font-family: 'Aldrich', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */
    letter-spacing: -0.25px;
    margin: 20px;
}

.nav__list {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav__li {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 140% */

}

.nav__select {
    display: none;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.main__heading {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 90px;
    line-height: 102px;
    /* identical to box height, or 113% */
    letter-spacing: -2px;
}

.main__info {
    max-width: 573px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    /* or 150% */
    text-align: center;
    margin-bottom: 5vh;
}

@media screen and (max-width: 800px) {
    .header__logo {
        font-family: 'Baloo 2', cursive;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        /* identical to box height, or 150% */
        letter-spacing: -0.25px;
    }
    .main__heading {
        font-size: 72px;
    }
}


@media screen and (max-width: 400px) {
    .header__logo {
        font-family: 'Baloo 2', cursive;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        /* identical to box height, or 150% */
        letter-spacing: -0.25px;
    }
    .header__bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .main__heading {
        font-size: 36px;
    }
    .nav__list {
        display: none;
    }
    .nav__select {
        display: inline-block;
        border: none;
        appearance: none;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
    }
}